# Server Configuration
PORT=PORT
NODE_ENV=development


MONGODB_URI=YOUR_MONGOURL

# JWT Configuration
# IMPORTANT: Change these to strong, random strings in production (minimum 32 characters)
JWT_ACCESS_SECRET=YOUR_ACCESS_SECRET
JWT_REFRESH_SECRET=YOUR_REFRESH_SECRET
JWT_ACCESS_EXPIRES_IN=TIME
JWT_REFRESH_EXPIRES_IN=DAYS
